<div class="row">
    <div class="col-sm-5 col-md-3">
            <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
            <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
            <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
        
            <div class="p-3 mb-2 bg-dark text-white">
            <h3 class="text-center text-light">INVENTORY MANAGEMENT SYSTEM</h3>
            <h4 class="text-center text-dark">a</h4>
            <h4 class="text-left text-info">Select Option</h4>
        
            <body>
                <div></div>
                <div class="container h-100">
                    <div class="row">
                    <div class="col">
                        <form action="add_inv">
                            <br> <button type="Submit" class="btn btn-info btn-md">Add Product</button><br>
                        </form>
                    </div>
                
                    <div class="col">
                        <form action="rem_inv">
                            <br> <button type="Submit" class="btn btn-info btn-md">Remove Product</button><br>
                        </form>
                    </div>
                
                    <div class="col">
                        <form action="check_inv">
                            <br> <button type="Submit" class="btn btn-info btn-md">View Inventory</button><br>
                        </form>
                    </div>

                    <div class="col">
                        <form action="login">
                            <br> <button type="Submit" class="btn btn-info btn-md">Log Out</button><br>
                        </form>
                    </div>

                    </div>
                
                
                </div>
                
        
            </body>
    </div>
    
</div>
